*{
padding: 0;
margin: 0;
text-decoration: none;
list-style: none;
box-sizing: border-box;

}

/* BODY */

body{
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;


}

body{
    background: url(Fondo.png) no-repeat;
    background-size: cover;
    min-height: 100vh;
    min-height: 100%;
}    

/* Navegación NAV */

nav{
    background: #FFF;
    height: 80px;
    width: 100%;
  }
  label.logo{
    color: #000;
    font-size: 35px;
    line-height: 110px;
    padding: 0 40px;
    font-weight: bold;
  }
  nav ul {
    float: right;
    margin-right: 20px;
  }
  nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }
  nav ul li a {
    color: #000;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
  }

 
  
 
  .checkbtn{
    font-size: 30px;
    color: #000;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  #check{
    display: none;
  }
  @media (max-width: 952px){
    label.logo{
      font-size: 30px;
      padding-left: 50px;
    }
    nav ul li a{
      font-size: 16px;
    }
  }
  @media (max-width: 858px){
    .checkbtn{
      display: block;
    }
    ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #fff;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
        overflow: hidden; 
        overflow: visible; 
    }
    nav ul li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }
    nav ul li a{
      font-size: 20px;
    }
    a:hover,a.active{
      background: none;
      color: #000;
    }
    #check:checked ~ ul{
      left: 0;
    }
  }





/* Sección */

section{
    background: url(Fondo.png) no-repeat;
    background-size: cover;
    height: fit-content;
    
}



main{
background: url(Fondo.png) no-repeat;
background-size: cover;

}





.main-content{
display: flex;
}

.main-content .box{
flex-basis: 50%;
padding: 10px 20px;

}

.box h2{
color: #ff6f00;

}

html{
height: 100%;


}

form{
max-width: 550px;
width: 90%;
background: #FFF;
margin: -7vh auto 0 auto;
padding: 40px;
border-radius: 3px;
box-sizing: border-box;


}

h1{
margin: 0;
text-align: center;


}

section label {
display: block;
margin: 20px 0;


}

section input, textarea{
width: 100%;
padding: 10px;
box-sizing: border-box;
outline: none;
resize: none;
border: none;
border-bottom: 1px solid #d3d3d3;
}

section input[type="text"]:focus, textarea:focus {
border-bottom: 1px solid rgb(255, 140, 0);

}

textarea::-webkit-scrollbar{
width: 4px;

}

textarea::-webkit-scrollbar-thumb{
    background-color: rgb(255, 140, 0);


}

section center{
text-align: center;

}

section input[type="submit"] {
margin-top: 30px;
width: 90%;
max-width: 200px;
background: #ff6f00;
color: black;
font-size: 17px;
cursor: pointer;
}

.overlay{
  width: 100%;
  height: 100%;
padding: 4em;
margin-top: 4em;
  
}






/* PIE DE PAGINA */

footer{

    position: relative;
    bottom: 0px;
    width: 100%;
    color: #FFF;
    
    }

.footer-distributed {
    background-color: #2d2a30;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 50px 50px 60px 50px;
    height: 100%;
}

.footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}

.footer-distributed .footer-left {
    width: 30%;
}

.footer-distributed .footer-links {
    color: #ffffff;
    margin: 20px 0 12px;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}

.footer-distributed .footer-company-name {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-center {
    width: 35%;
}

.footer-distributed .footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 45px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-distributed .footer-center p a {
    color: #ff6200;
    text-decoration: none;
    ;
}

.footer-distributed .footer-right {
    width: 30%;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons {
    margin-top: 25px;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}

.footer-distributed .footer-icons a:hover {
    background-color: #ff6200;
}

.footer-links a:hover {
    color: #ff6200;
}

@media (max-width: 880px) {
    .footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }
    .footer-distributed .footer-center i {
        margin-left: 0;
    }
}       

@media (max-height:800px) {
    footer {
        position: static;
    }
    header {
        padding-top: 40px;
    }
}


